<!doctype html>
<html>
	<head>
		<title>The Wall</title>
		<meta charset='utf-8'>
	</head>
	<body>
		<h1>Welcome {{session['name']}} to the Wall</h1> <a href= ('/logout')>logout</a>
		<h3>make a new post</h3>
		<form action="/message" method="post">
			<textarea name="message" rows="8" cols="40"></textarea> 
			<button type="button" name="button">Post</button>
		</form>
		<div class="messages">
			{% for message in messages %}
			<div class="message">
				<h4>{{message['first_name']}}{{message['created_at']}}</h4>
				<p>{{message['content']}}</p>
				<div class="comment">
				{% for comment in comments %}
					<h5>Post a comment</h5>
					{{message['id']}}
					<form action="/comment" method="post">
					{{comment['content']}}
					<input type="hidden" name="message_id" value="{{message['id']}}">
					<textarea name="comment" rows="8" cols="40"></textarea> 
					<button>Comment</button>
					</form>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</body>
